body {
  margin: 0;
  font-family: Arial;
  background: #0d1117;
  color: white;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: url('images/img1.jpg') center/cover;
}

.hero h1 {
  font-size: 40px;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.green { background: #25D366; }
.yellow { background: #ffc107; }

.services {
  text-align: center;
  padding: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cards div {
  background: #1c1f26;
  padding: 20px;
  border-radius: 10px;
}

.gallery {
  padding: 50px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
}

.contact {
  text-align: center;
  padding: 50px;
  background: #1c1f26;
}